@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 50px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent; /* Start transparent */
}

html {
  scroll-behavior: smooth;
}

.sticky-header.active {
  background-color: rgba(17, 16, 16, 0.637); /* Background color when scrolling past the image */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.sticky-header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.sticky-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}

.sticky-header li {
  margin-right: 50px;
}

.sticky-header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  transition: color 0.3s ease;
  font-family: "Lobster", sans-serif;
}

.sticky-header a:hover {
  background: -webkit-linear-gradient(#9274e6, #e4e0e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sticky-header li:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.main-container {
  padding-top: 60px; /* Leave space for the sticky header */
}

.logo {
  position: absolute;
  background: -webkit-linear-gradient(#9274e6, #e4e0e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  padding: 1px 20px;
  font-family: "Lobster", sans-serif;
}

/* Media query to hide the navigation bar in mobile mode */
@media screen and (max-width: 768px) {
  .sticky-header {
    display: none;
  }
}
