.service {
  background-image: url("assets/50.jpg");
}

.container {
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 00px;
  overflow: hidden;
}

.box {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
}

.box .content .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .content .percent img.logo {
  position: absolute;
  top: 50%;         /* Position the logo in the middle vertically */
  left: 50%;        /* Position the logo in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the logo exactly */
  width: 120px;      /* Adjust the size of the logo to fit */
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
  z-index: 5;       /* Ensures the logo appears on top */
}

.box .content .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.box .content .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5.5;
  stroke: rgba(0, 0, 0, 0.281);
  transform: translate(5px, 5px);
}

.box .content .percent svg circle:nth-child(2) {
  stroke: rgb(129, 88, 194);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box .content .percent .dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.box .content .percent .dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #e7e7e7;
  border-radius: 50%;
}

.box .content .number {
  position: relative;
  inset: 0;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.box .content .number h2 {
  font-size: 2.5rem;
  color: #eeeeee;
}

.box .content .number h2 span {
  font-weight: 300;
  font-size: 1.5rem;
}
